


 @import url(http://fonts.googleapis.com/css?family=Abel);

* {

font-family: 'Abel', sans-serif !important;
font-size: 1em;
color:black;
}

h2 {

font-size: 2em;
}

.image {

border: 1px solid #eee;
padding: 1%;
}

.left {

float: left;

}

.right {

float: right;

}

/* Navigation */

.container {

margin: auto;
padding: 2%;

}

.nav {

font-size: 1.7em;
display:inline-block;
width: 15%;
float:left;

}

.nav a, .nav a:visited {

text-decoration:none;
cursor:crosshair;

}

.nav a:hover, a:active {
color: red;
}

.content {

font-size: 1.5em;
display: inline-block;
width: 82.5%;
margin-left: 2.5%;
float:right;

}

.content a, .content a:active, .content a:visited {

text-decoration: none;
}

.topic-name {

border-bottom: 5px solid black;

}


.content a:hover {
color: red;
cursor:crosshair;

}

.button {

border: 1px solid black;
background-color:transparent;
padding: 1% 1.5% 1% 1.5%;
text-decoration:none;
cursor: crosshair;

}
.alert-box.success {
margin-top: 5%;
background-color: transparent!important;
color: #3a945b;
}

/* Forms */

.form-box {

display:block;
margin-top:2%;

}

.small {

font-size: 0.6em;

}

input, button, input[type="file"] {

border: 1px solid black;
}

input[placeholder] {

padding-left: 1%;

}



.no-border input{
border: none;
}

/* Topics */

.left-container {

width: 30%;
float:left;

}

.right-container {

width: 67%;
margin-left: 1%;
float:right;


}
