<h1>Topics</h1>

<div class="row">
  <div class="large-8 columns">
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to topic.name, topic %>
          </h4>
          <small>
            <%= topic.description %>
          </small>
        </div>
      </div>
    <% end %>
  </div>
  <div class="large-4 columns">
      <%= link_to "New Topic", new_topic_path, class: 'button secondary' %>
  </div>
</div>