

    <% if policy(Topic.new).create? %>
      <br /><%= link_to "+", new_topic_path, class: 'button' %>
        <br /><br />
  <% end %>


    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <p class="collection">
          
             <%= link_to topic.name, topic, class: 'topic-name' %>
          <small>collated by <%= link_to (topic.user.name), topic.user %></small>
        </p>
        </div>
      </div>
    <% end %>
    <br />
    <%= will_paginate @topics %>


