<div class="row">

  <div class="large-12 columns">
    <h1>All Users</h1>

    <% @users.each do |user| %>
      <div class="media">
        <div class="media-body">
          <p class="collection">
          <h3>
             <%= link_to user.name, user %><br />
         	<small><%= pluralize(user.topics.count, 'collection') %></small>
          </h3>
        </p>
        </div>
      </div>
    <% end %>

    <%= will_paginate @users %>
  	</div>



</div>

