 <div class="row">
  <h1><%= @user.name %></h1>
</div>
 
 <div class="row">
  <h2>Uploaded Bookmarks</h2>
 <%= render @bookmarks %>
</div>
 
 <div class="row">
  <h2>Liked Bookmarks</h2>
  <%= render @liked_bookmarks %>
 
</div>

</div>