  <!-- Row to wrap them all -->
  <div class="row">

    <!-- Left column -->
 
          <%= image_tag(@user.avatar.url(:small), :class => "image") if @user.avatar? %>


    <!-- End of left column -->


    <!-- Right column -->
    <div class="large-8 columns">

        <div class="row">
        <h1><%= @user.name %></h1>
        </div>
       
        <div class="row">
        <h2>/Uploaded</h2>
        <%= render @bookmarks %>
        </div>
       
        <div class="row">
        <h2>/Liked</h2>
        <%= render @liked_bookmarks %>
        </div>

  </div>
  <!-- End of right column -->

<!-- Row to wrap them all -->
</div>

